# `extract` Module Usage Examples

## Installation
---
To install the `extract` module, clone the repository by running:

In [ ]:
#!git clone https://github.com/KeiferC/extract-table.git

### Installing Dependencies
The `extract` module uses the `numpy`, `pandas`, and `geopandas` packages, which may or may not be installed on your machine.

To automatically install the dependencies run:

In [ ]:
!pip install -r requirements.txt

Alternatively, you can manually install the dependecies by running:

In [ ]:
!pip install numpy
!pip install pandas
!pip install geopandas

## Module Usage
---

*Note:* The example input files were pulled and converted from the GeoJSON [link](http://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_110m_land.geojson) provided in the [`geopandas` IO docs](https://geopandas.org/io.html).

In [1]:
from extract import ExtractTable

### Example 1. Extract a whole table as a `geopandas GeoDataFrame`
#### Example 1.1. Extract a `geopandas GeoDataFrame` from a file
- __Example 1.1.1.__ Extract from a shapefile

In [2]:
shp_path = 'example-inputs/example-shp/example.shp' # path to file containing table to extract

shp_et = ExtractTable(shp_path) # alternative: shp_et = ExtractTable.read_file(filepath)
shp_gdf = shp_et.extract() # extracts table as a geopandas GeoDataframe

shp_gdf.head() # display first 5 rows of extracted GeoDataFrame

   scalerank featurecla                                           geometry
0          1    Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1          1    Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2          1    Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3          1    Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4          1    Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...

- __Example 1.1.2.__ Extract from a CSV

In [3]:
csv_path = 'example-inputs/example.csv'

csv_et = ExtractTable.read_file(csv_path) # using alternative
csv_gdf = csv_et.extract()

csv_gdf.head()

   scalerank featurecla                                           geometry
0          1    Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1          1    Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2          1    Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3          1    Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4          1    Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...

- __Example 1.1.3.__ Extract from an Excel file

In [4]:
excel_path = 'example-inputs/example.csv'

excel_gdf = ExtractTable(excel_path).extract() # shorthand equivalent

excel_gdf.head()

   scalerank featurecla                                           geometry
0          1    Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1          1    Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2          1    Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3          1    Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4          1    Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...

- __Example 1.1.4.__ Extract from a ZIP file

In [5]:
zip_path = 'example-inputs/example.zip'

zip_gdf = ExtractTable(zip_path).extract()

zip_gdf.head()

   scalerank featurecla                                           geometry
0          1    Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1          1    Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2          1    Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3          1    Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4          1    Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...

#### Example 1.2. Extract a `geopandas GeoDataFrame` from a URL

In [6]:
url = 'http://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_110m_land.geojson' 
        # URL copied from https://geopandas.org/io.html
    
url_gdf = ExtractTable(url).extract()

url_gdf.head()

   scalerank featureclass                                           geometry
0          1      Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1          1      Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2          1      Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3          1      Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4          1      Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...

#### Example 1.3. Extract a `geopandas GeoDataFrame` from a `pandas DataFrame`

#### Example 1.4. Extract a `geopandas GeoDataFrame` from a `geopandas GeoDataFrame`